body{
    background-color: white;
    margin: auto; 
    padding: 0px; 
    overflow-x: hidden;
}
#headers{
    background-color: white;
    width: 100%;
    height: 0.35in;
    position: relative;
    bottom: 11px; 
 border-bottom: 1px solid rgb(174, 172, 172);
}
ul{
    display: flex;
}
ul>li {
    list-style: none;
    font-size: 16px;
    text-align: center;
    margin-left: 40px;
    cursor: pointer;
}
.legit{
    padding: 5px;
    padding-left: 20px;
}
#lightbox{
    position: absolute;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 1, 0.8);
    display: none;
}
#lightbox.active{
    position: absolute;
    display: flex;
  
    width: 100%;
    height: 100%;
}
.cart{
    position: relative;
    right: 200px;
}
.avatar{
     width: 30px;
     height: fit-content;
    position: relative;
    right: 200px;
}
.del{
position: relative;
left: 2.3in;
     width: fit-content;
     height: fit-content;
    }
.cartimage{
    margin-left: 5px;
}
.red{
    width: 17px;
    height: 17px;
  display: none;
    background-color: red;
    border-radius: 50%;
    position: relative;
    bottom: 765px;
    left: 940px;
  
}
.digit{
    color: white;
    
    font-weight: 700;
    position: relative;
  top: 3px;
    left: 5px;
  
   
}
.desc{
    font-size: 15px;
    ;

}

.cart{
padding-left: 300px;
margin-right: 0px;
}
#product1{
  width: 36%;
    margin: 40px;
    margin-left: 140px;
    cursor: pointer;
}
#side{
    display: none;
}

#details{
    float: right;
    margin-right: 10px;
    padding-top: 100px;
   position:absolute;
  left: 740px;
  bottom: 50px;
}

 .sneaker{
    color: orangered;
    font-size: 20px;
}
.title{
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    font-size: 19px;
    color: rgb(159, 156, 156);
}
.img1, .img2, .img3, .img4{
   width: 9%;
   height: fit-content;
 position: relative;
bottom: 35px;
border-radius: 5px;
cursor: pointer;
margin-left: 10px;
}
#group{
    margin-left: 140px;

}
.same{
    display: flex;
}
.price{
    font-size: 25px;

}
.nc, .pc{
    display: none;
}

.discount{
    font-size: 17px;
    color: orangered;
    width: fit-content;
    height: fit-content;
    background-color: rgb(241, 218, 174);
    padding: 2px;
    position: relative;
    bottom: 16px;
    border-radius: 5px;
    margin-left: 18px;

}
.actual{
    color: rgb(170, 163, 163);
    text-decoration: line-through;
    font-size: 21px;
  position: relative;
  bottom: 45px;
}
#flex-container{
    display: flex;
    align-items: center;
}

#cartinfo{
    width: 0in;
    height:1.8in;
    position: relative;
    background-color: whitesmoke;
    float: right;
    right: 220px;
    margin: auto;
    z-index: 1000;
    bottom: 25px; 
    overflow: hidden;
}
#info{
    display: flex;
}
.cartel{
    font-size: 25px;
    font-family: 600px;
     padding-bottom: 10px;
     margin-bottom: 10px;
     border-bottom: 1px rgb(112, 111, 111) solid;
}
#del{
  margin-right: 20px;
  width: 20px;
  position: relative;
  top: 10px;
  height: fit-content;
}
#type{
    padding-left: 20px;
    font-size: 18px;

}
#check{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    color: white;
    width: 80%;
    height: fit-content;
    padding: 10px;
    background-color: orangered;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.out{
  padding-left: 70px;
}
#thumbimg{
    width: 50px;
    height: fit-content;
    margin-left: 10px;
}
#closebtn{
    width: 1%;
    height: fit-content;
    position: relative;
    left: 100px;
    top:40px;
    /* bottom: 100px; */
   color: white;
}
.cartname{
    font-size: 16px;
    font-weight: 100;
   color: grey;
  border-bottom: grey 1px solid;
}
.tocart{
    background-color: orangered;
    color: white;
    padding: 12px;
    border-radius: 5px;
    flex: 0.4;
}
.action{
    background-color: rgb(242, 234, 234);
    padding: 12px;
    align-items: center;
    border-radius: 5px;
    flex: 0.25;
   
}
.plus{
    margin-left: 20px;
}
.minus{
    margin-right: 20px;
    position: relative;
    bottom: 5px
}
.zero{
    font-size: 17px;
}
.basket{
   padding-left: 30px;
    align-items: center;
}
.block:hover{
    border: 3px solid orangered;
    border-radius: 10px;

}
#icons{
    display: block;
    position: relative;
    top: 340px;
    left: 500px;
    z-index: 1000;
    display: none;
}
.next{
    position: relative;
    left: 60px;
    display: block;
}
.previous{
   position: relative;
   right: 330px;
   display: block;
}
#circles{
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius:50% ;
    position: relative;
    top: 310px;
    left: 560px;
    z-index: 800;
    display: none;
}
#empty{
    font-size: 22px;
    text-align: center;
    padding-top: 50px;
    display: none;
    position: absolute;
    bottom: 70px;
    right: 50px;
}
#circles2{
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius:50% ;
    position: relative;
    top: 270px;
    left: 160px;
    z-index: 800;
    display: none;
}

.legit:hover{
    border-bottom: 4px solid orangered;
}
.menus{
    display: none;
}   
 @media screen and (max-width:500px){
    body{
       margin: auto;
       overflow-x: hidden;
       padding: 0px; 
    }

.menus{
    display: block;
    position: relative;
    bottom: 60px;
    left: 30px;
  
}

.legit{
    display: none;
}
#headers{
    position: relative; 
  
}
.cart{
    position: relative;
right: 290px;

}
.avatar{
    width: 25px;
    height: 25px;
    position: relative;
    right: 300px;
}
#side{
    display: block;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    font-size: 20px;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    width: 0px;
    background-color: rgb(76, 73, 73);
    transition: 0.7s;
}
.sidenav > a{
    text-decoration: none;
    padding: 10px 10px 10px 10px;
   color: white;
    transition: 0.3s;
    display: block;
}
.x{
    position: relative;
    bottom: 40px;
    left: 120px;
}
/* #icons{
    display: block;
    position: relative;
    top: 340px;
    left: 500px;
    z-index: 1000;
  
} */
#everything{
    display: block;
}
.block{
    display: none;
}

#product1{
    position: absolute;
    width: 100%;
    height: 350%;
  top:-83px;
  right: -40px;
    z-index: 400;
}


#details{
    position: absolute;
    top: 250px;
     left: 10px;
    z-index: 400;
}
.sneaker{
    font-size: 17px;
}
.title{
    font-size:23px ;
}
.text{
    font-size: 15px;
}
#flex-container{
    position: absolute;
    display: block;
    align-items: center;
}
.plus{
 position: relative;
 left: 120px;
}
.put{
    margin-left: 20px;
}
.minus{
    margin-right: 120px;
    position: relative;
    bottom: 5px;
    margin-left: 30px;
}
.zero{
    font-size: 17px;
    align-items: center;
}
.basket{
   padding-left: 110px;
    align-items: center;
}
.tocart{
    position: relative;
    background-color: orangered;
    color: white;
    padding: 12px;
    border-radius: 5px;
    flex: 2;
   width: 140%;
}
.action{
    background-color: rgb(242, 234, 234);
    padding: 12px;
    align-items: center;
    border-radius: 5px;
width: 140%;
   flex: 2;
}
#icons{
    display: block;
    position: relative;
    top: 340px;
    left: 450px;
    z-index: 1000;;
}
.previous{
    position: relative;
 z-index: 1000;
    display: block;
    bottom: 190px;
    right: 380px;
 }
 .next{
    position: absolute;
bottom: 190px;
    left: -160px;
   z-index: 1000;
}
 #circles{
     width: 40px;
     height: 40px;
     background-color: white;
     border-radius:50% ;
     position: relative;
     z-index: 900;
     display: block;
     left: 57px;
     top: 120px;
 }
 #circles2{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius:50% ;
    position: relative;
    top: 80px;
    left: 275px;
    z-index: 900;
    display: block;
}
 .actual{
    color: rgb(170, 163, 163);
    text-decoration: line-through;
    font-size: 21px;
  position: relative;
  bottom: 19px;
  left: 170px;
}
#lightbox.active{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}
#lightbox{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 1, 0.8);
    display: none;
}
.del{
    position: relative;
    left: 2.3in;
         width: fit-content;
         height: fit-content;
        }
    .cartimage{
        margin-left: 5px;
    }
  
    .digit{
        color: white;
        font-weight: 700;
        font-size: 23px;
        position: relative;
      top: 3px;
        left: 5px;
    }
    .desc{
        font-size: 15px;
    }
    .cart{
    padding-left: 300px;
    margin-right: 0px;
    }
     #cartinfo{
        width: 0in;
        height:1.8in;
        position: absolute;
        background-color: whitesmoke;
        right: 50px;
        z-index: 1000;
       top:-0px;
    } 
    #total{
        position: relative;
    }
    .reds{
        width: 17px;
        height: 17px;
      display: none;
        background-color: orangered;
         border-radius: 50%;
         position: absolute;
        left:285px; 
        z-index: 100; 
    }
    .digits{
        color: rgb(246, 246, 246);
        font-weight: 700;
        font-size: 15px;
        position: relative;
      bottom: 13px;
        left: 5px;
        z-index: 1000;
    }
    #thumbimg{
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    #check{
        font-size: 20px;
        display: block;
        flex-direction: row;
        color: white;
        width: 80%;
        height: fit-content;
        padding: 10px;
        background-color: orangered;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .out{
      padding-left: 70px;
    }
}



 
 


